:root{
    --main-color: rgb(65, 65, 65);
    --second-color: hsl(0, 0%, 10%);
    --gray-color: hsl(0,0%,75%);


}


body{
    background: url(./img/1018.png);
    letter-spacing: 2px;;


}

#nav-container{
    position: fixed;
    top: 0px;
    left:0;
    background: hsl(0, 0%, 10%);

    padding-top: 10px;
    width: 100%;
    color: white;

}
nav{
    margin: auto;
    text-align: center;
    height: 20px;
    background: rgb(65, 65, 65);

}

#nav-container h2{
    text-align: center;
}

#nav-container a{
    padding: 0px 20px;
    color: var(--main-color);
    font-weight: 700;
    color: white;
}

.page-intro{
    background: var(--gray-color);
    width:max-content;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 10px  #333 ;

}

h1, h2, h3{
    text-align: center;

}

.center-text{
    text-align: center;
}

.card{
    width: 400px;
    text-align: center;
    background: var(--gray-color);
    border-radius: 10px;
    height: 200px;
    box-shadow: 5px 10px #333 ;
}
.card h4{
    padding-top: 10%;
}

#position-relative-main{
}



